body{
  background-color: #c7edcc;  
}
.comm-left{
  background-color: #c7edcc;
  padding:.3rem;
  border-radius: .3rem;
  border:1px solid #c7edcc;
}
.comm-box{
  background-color: #c7edcc;
  margin-left: .5rem;
  padding:.3rem;
  border-radius: .3rem;
  border:1px solid #c7edcc;


}
.comm-main{
  margin-top: .5rem;
}